*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}



/* CONTENT */

content {
  flex: 1 0 auto;
}



/* HEADER */

header {
  background-color: orange;
  padding: 2em 2em 0 2em;
}



/* NAV */

nav {
  margin-top: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: black;
}

  nav span span {
    padding: 1em;
  }

  nav span span {
    display: inline-block;
    text-decoration: none;
    color: black;
  }

  nav span span:hover {
    background: #ddd;
  }

  nav span span.selected {
    background-color: white;
    color: black;
  }



/* MAIN */

main {
  padding: 2em;
}

  main h1,
  main p{
    margin-bottom: 1em;
  }  



/* FOOTER */

  footer {
    flex-shrink: 0;
    background-color: #ddd;
    padding: 2em 2em 6em 2em;
  }



/* FORM */


form#login {
  margin-top: 1em;
  max-width: 24em;
}

form#contact {
  margin-top: 1em;
  max-width: 40em;
}

  form .row {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
  }

  form .row > label {
    padding: .5em 1em .5em 0;
    flex: 2;
  }

  form#contact .row > label {
    flex: 1;
  }

  form .row > textarea,
  form .row > input,
  form .row > button,
  form .row > select {
    font-family: inherit;
    font-size: inherit;
  }

  form .row > input:not([type="submit"]),
  form .row > textarea {
    flex: 4;
    padding: .6em;
    border: 0;
    background-color: #ddd;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  }

  form .row > textarea {
    height: 20em;
    resize: none;
  }

div.alert,
div.done {
  font-weight: bold;
  padding: 1em;
  margin-bottom: 1em;
  padding: 1em;
}

div.alert {
  background-color: pink;
  color: red;
}

div.done {
  background-color: yellowgreen;
  color: black;
}
